body {
    color: rgb(215,215,220);
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.lb_title {
    border-radius:20px 20px 0px 0px;
    background-color:rgba(10,10,10,1.0);
    padding:20px 10px 20px 20px;
    font-weight:bold;
}

.lb_body {
    background-color:rgba(0,0,0,0.5);
    border-radius:0px 0px 20px 20px;
    padding:20px 10px 20px 20px;
}

.layerbox {
    z-index:2;
    position:absolute;
    left:10px;
    top:10px;
    width:33%;
}
